.move{
    animation: moveb 1s ease-in-out;
}
.rotateicon {
    transition: transform 1s ease-in-out;
    transform: rotate(0deg);
}

.rotateicon:hover {
    transform: rotate(240deg);
}

@keyframes moveb{
    0%{
        transform: translate(0px,-100px);
        opacity: 0;
    }
    100%{
        transform: translate(0px,0px);
        opacity: 1;
    }
}